@import '../../utils/base.scss';


:host {
  display: block;

  .card {
    box-sizing: border-box;
    background-color: v(highlight);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    transform: scale(1);
    filter: drop-shadow(0px 0px 0px #00000000);
    transition: transform 0.2s ease;
    transition: filter 0.2s ease;


    &.quater {
      width: calc(25vw - 20px);
      min-width: 200px;
    }
    &.third {
      width: calc(33vw - 20px);
      min-width: 280px;
    }
    &.half {
      width: calc(50vw - 30px);
      min-width: 400px;
    }
    &.full {
      width: calc(100vw - 45px);
    }
    &:hover{
      transform: scale(1.005);
      filter: drop-shadow(2px 2px 3px #00000020);
    }

    .card-title, .sub-title {
      text-align: center;
    }

    .card-title {
      font-size: v(fs-l);
      font-weight: bold;
      font-family: v(primaryFontFam);
    }
    .sub-title {
      font-size: v(fs-m);
      margin-bottom: 10px;
      font-family: v(secondaryFontFam);
    }

    .card-body{
      padding: 0px 10px;
      font-size: v(fs-s);
      font-family: v(secondaryFontFam);
    }
    .card-body, .card-expand-body {
      text-align: center;
    }

    .img {
      background-color: v(primary);
      border-radius: 5px 5px 0 0;
      min-height: 100px;
      width: 100%;


      slot {
        box-sizing: border-box;
        display: flex;
        justify-content: center;        
        height: 100%;
        width: 100%;
        padding: 10px;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }

    .expand {
      display: flex;
      flex-direction: column;
      width: 95%;
      height: 0px;//*overwritten by js*/
      overflow-y: hidden;
  
      .expandInner {
        display: flex;
        flex-direction: column;
  
        ::slotted(*){
          display: inline-flex;
          min-height: 40px;
          line-height: 2.5;
          color: inherit;
          font-size: inherit;
          font-family: inherit;
        }
        
      }
    }
    .pad25 {
      padding-bottom: 25px;
    }
    .arrowWrap {
      width: 100%;
      height: 25px;
      display: flex;
      align-items: flex-end;
      justify-content: space-around;

      .arrow {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid v(primary);
      }
    }

  }
}
