@import '../../utils/base.scss';

:host {
  display: inline-flex;
  position: relative;
  width: auto;
  height: 100%;
  background-color: v(bg);
  color: v(fontColor);
  font-family: v(primaryFontFam);
  font-size: v(fontSize);
  padding: 0px 10px;

  &:host(:hover){
    background-color: v(secondary);
    color: v(fontColor);
    .drop {
      height: auto;
      overflow: visible;
    }
  }
  a {
    align-self: center;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
  }
  .drop {
    display: flex;
    overflow: hidden;
    height: 0px;
    flex-direction: column;
    position: absolute;
    left: 0%;
    top: 100%;
    z-index: 99;
    background-color: v(secondary);
  }
  ::slotted(*) {
    background-color: v(secondary);
    padding: 5px 10px;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
  }
  ::slotted(*:hover) {
    background-color: v(tertiary);
  }
}


