@import '../../utils/base.scss';

:host {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  box-sizing: border-box;


  @include respond(tablet) {
   // width: calc(80vw - 20px);

    // responsive code for tablet viewport i.e. 600px
  }
 
  @include respond(mobile) {
   // width: calc(100vw - 20px);

    // responsive code for mobile viewport i.e. 480px
  }

}

