:host {
  flex: 0 0 100%;


  .slide {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    height: 100%;

    ::slotted(img) {
      max-width: min-content;
      width: 100%;
    }

    section {
      display: flex;
      flex-direction: column;
      
      h2 {
          display: block;
          font-size: 1.5em;
          margin-block-start: 0em;
          margin-block-end: 0.83em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          font-weight: bold;
      }
      ::slotted(div) {

      }
    }
  }
}
