@import '../../utils/base.scss';

:host {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-height: 50px;
  @include box-size;


  background-color: v(bg);
  color: v(fontColor);

  *{
    width: auto;
  }

  ::slotted(nav){
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }

  ::slotted(img){
    @include box-size;
    margin: 5px;
    width: auto;
    display: inline-flex;
  }

  ::slotted(svg){
    width: 30px;
    height: 30px;
   }

  ::slotted(clr-nav-btn){
    display: flex; 
    align-self: center;
    width: 45px;
  }

  @include respond(tablet) {

    // responsive code for tablet viewport i.e. 600px
  }

  @include respond(mobile) {

    // responsive code for mobile viewport i.e. 480px
  }
}
