:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  width: calc(100% - 40px);
  margin: 10px 0px;
  align-items: center;

  a {
    align-self: flex-start;
  }

  .main-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .arrow {
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid #fff;
    }
  }

  .expand {
    width: calc(100% - 10px);
    
    height: 0px;//*overwritten by js*/
    overflow-y: clip;//*overwritten by js*/

    .expandInner {
      display: flex;
      flex-direction: column;
    }
  }
}
