@import '../../utils/base.scss';

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-end;
  width: 100%;
  max-width: 600px;
  min-height: 20px;
  font-family: v(primaryFontFam);
  font-size: v(fontSize);
  color: v(fontColor);

  @include respond(tablet) {
    //pointer-events: none;
    // responsive code for tablet viewport i.e. 600px
  }
 
  @include respond(mobile) {
    //pointer-events: none;
    // responsive code for mobile viewport i.e. 480px
  }

  a {
    align-self: center;
    color: inherit;
  }

  .main-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 0px);
    padding-left: 0px;
    min-height: 40px;
    font-family: inherit;
    font-size: inherit;
    
    .arrowWrap {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .arrow {
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid v(highlight);
      }
    }
  }
 
  .expand {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 0px;//*overwritten by js*/
    overflow-y: hidden;

    .expandInner {
      display: flex;
      flex-direction: column;


      ::slotted(*){
        display: inline-flex;
        min-height: 40px;
        line-height: 2.5;
        color: inherit;
        font-size: inherit;
        font-family: inherit;
      }
      
    }
  }

}

