@import '../../utils/base.scss';

:host {
  width: inherit;
  overflow-x: hidden;
  .carousel {
    overflow: hidden;
  }
  .slide-wrap {
    display: flex;
    height: inherit;
  }


  .small{
    height: 300px;
  }
  .quater{
    height: 400px;
  }
}
