@import '../../utils/base.scss';

p { 
  line-height: 1.5;
  padding: 4px 15px;
  display: block;
  margin-block-start: .5em;
  margin-block-end: .5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  font-family: v(secondaryFontFam);
}

p.info {
  background-color: v(infoColor-bg);
  border: 1px solid v(infoColor);
  color: v(infoColor);
}
p.success {
  background-color: v(successColor-bg);
  border: 1px solid v(successColor);
  color:  v(successColor);
}
p.error {
  background-color: v(errorColor-bg);
  border: 1px solid v(errorColor);
  color: v(errorColor);
}
p.acknowledged {
  display: none;
}
button {
  margin-left: 10px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  font-size: .9em;
  opacity: 0.5;
}