@import '../../utils/base.scss';

:host {
  @include box-size;
  position: fixed;
  float:right;
  left: 0px;
  top: 0px;
  z-index: 98;

  .drawer {
    @include scrollbar-styles;
    @include box-size;

    overflow-y: scroll;
    display: block;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px;
    height: 100vh;
    width: 30vw;
    background-color: v(bg);
    color: v(primary);

    @include respond(tablet) {
      width: calc(80vw - 20px);

      // responsive code for tablet viewport i.e. 600px
    }
   
    @include respond(mobile) {
      width: calc(100vw - 20px);

      // responsive code for mobile viewport i.e. 480px
    }
    
  }
}





