
@function v($var) {
  @return var(--#{$var});
}

// respond is the name of your mixin
@mixin respond($breakpoint) {
  @if $breakpoint==tablet {
    @media only screen and (max-width: 600px) {
      @content;
    }
  }
  @if $breakpoint==mobile {
    @media only screen and (max-width: 480px) {
      @content;
    }
  }
}

:host {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 99;

  --primary: rgb(80, 80, 87);
  --bg: rgb(243, 240, 234);

  .drawer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 30vw;
    background-color: v(bg);
    color: v(primary);

    @include respond(tablet) {
      width: 80vw;

      // responsive code for tablet viewport i.e. 600px
    }
   
    @include respond(mobile) {
      width: 100vw;

      // responsive code for mobile viewport i.e. 480px
    }
    
  }
}





