@import '../../utils/base.scss';

:host {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 99;
  
  .drawer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 30vw;
    background-color: v(bg);
    color: v(primary);

    @include respond(tablet) {
      width: 80vw;

      // responsive code for tablet viewport i.e. 600px
    }
   
    @include respond(mobile) {
      width: 100vw;

      // responsive code for mobile viewport i.e. 480px
    }
    
  }
}





