
:host {
  //* Color //
  --primary: inherit;
  --secondary: inherit;
  --tertiary: inherit;
  --highlight:inherit;
  --fontColor: inherit;
  --navColor: inherit;
  --bg: inherit;
  
  //* Font //
  --fontSize: 16px;
  --fs-l: 1.6em;
  --fs-m: 1.2em;
  --fs-s: .8em;
  --primaryFontFam: Arial, Helvetica, sans-serif;
  --secondaryFontFam:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  //* Size //
  --scrollbar-width: 5px;
  --tiny: 10px;
  --small: 20px;
  --medium: 30px;
  --large: 50px;
  --full: 100%;

}

@function v($var) {
  @return var(--#{$var});
}

/* scrollbar width */
@mixin scrollbar-styles {
  &::-webkit-scrollbar {
    width: v(scrollbar-width);
  }
  /* scrollbar Track */
  &::-webkit-scrollbar-track {
    background: v(primary);
  }
  /* scrollbar Handle */
  &::-webkit-scrollbar-thumb {
    background: v(highlight); 
  }
}

@mixin box-size {
  *, *:before, *:after {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
  }
}

// respond is the name of your mixin
@mixin respond($breakpoint) {
  @if $breakpoint==tablet {
    @media only screen and (max-width: 600px) {
      @content;
    }
  }
  @if $breakpoint==mobile {
    @media only screen and (max-width: 480px) {
      @content;
    }
  }
}