
:host {
    --primary: rgb(224, 224, 224);
    --secondary: rgb(197, 197, 197);
    --tertiary: rgb(185, 185, 185);
    --fontColor: rgb(27, 27, 27);
    --bg: rgb(218, 218, 218);
}

@function v($var) {
    @return var(--#{$var});
  }
  
  // respond is the name of your mixin
  @mixin respond($breakpoint) {
    @if $breakpoint==tablet {
      @media only screen and (max-width: 600px) {
        @content;
      }
    }
    @if $breakpoint==mobile {
      @media only screen and (max-width: 480px) {
        @content;
      }
    }
  }