@import '../../utils/base.scss';

:host {
  fill: v(iconColor);
  display: flex;
  align-items: center;
  div {

    &.tiny {
      width: v(tiny);
    }
    &.small {
      width: v(small);
    }
    &.medium {
      width: v(medium);
    }
    &.large {
      width: v(large);
    }
    &.full {
      width: v(full);
    }

    /*svg:hover{
      fill: v(iconColor-highlight);
    }*/
  }
}

