@import '../../utils/base.scss';

:host {
  button{
    position: relative;
    display: inline-flex;
    min-height: 30px;
    width: calc(80% - 42px);
    max-width: 250px;
    border: v(btnColor) solid 1px;
    background-color: v(btnColor-bg);
    border-radius: 5px;
    font-size: .8rem;
    letter-spacing: .0rem;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: v(btnColor);
    padding: 3px 18px;
    margin: 5px 0px;
    transition-duration: 400ms;
    cursor: pointer;
    ::slotted(clr-icon){
      transition-duration: 400ms;
    }
    slot {
      &:first-child {
        position: absolute;
        display: block;
        left: 3px;
        width: 15px;
        height: 15px;
      }
    }
  }
}
:host(:hover) {
  button{
    color: v(btnColor-inverse);
    background-color: v(btnColor-highlight);
    ::slotted(clr-icon) {
      fill: v(iconColor-inverse) !important;
    }
  }
}
