@import '../../utils/base.scss';

:host {
  display: flex;
  width: 100%;
  max-width: max-content;

  button,a,div{
    box-sizing: border-box;
    padding: 5px;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: v(fontSize);
    font-family: v(primaryFontFam);
    text-align: left;
    text-decoration: none;
    color: v(btnColor);
    min-width: 0px;
    width: 100%;
    max-width: max-content;
    min-height: 30px;
    border: v(btnColor) solid 1px;
    background-color: v(btnColor-bg);
    border-radius: 5px;
    transition-duration: 400ms;
    cursor: pointer;

    span.hidden{
      visibility: hidden;
    }
    span.shown {
      visibility: visible;
    }

    ::slotted(clr-icon){
      transition-duration: 400ms;
    }
   slot {
      &:first-child {
        align-self: left;
        justify-self: flex-start;
        display: block;
        margin: 0 auto;
      }
    }
  }
  /*button {
    min-height: 30px;
  }
  a,div {
    min-height: 28px;
  }*/
}
:host(:hover) {
  button,a,div{
    color: v(btnColor-inverse);
    background-color: v(btnColor-highlight);
    ::slotted(clr-icon) {
      fill: v(iconColor-inverse) !important;
    }
  }
}
